// 6/3/2019 -- Eric Tossell -- Variables Sass File
// Colors

$color-primary: rgba(73, 88, 177, 1);
$color-primary-light:rgba(138, 146, 209, 1);


$color-white: #ffff;
$color-black: #0000;


// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;