//6/4/2019 -- Eric Tossell -- Header Sass
.header {
    position: fixed;
    background-color: $color-white;
    font-size: 1.4rem;
    height: 8rem;
    width: 100%;
    border-bottom: 5px solid $color-primary;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    &__title {      
         color: $color-primary;
         font-size: 2rem;
         margin-left: 2rem;
    }
    &__search {

        margin-right: 2rem;

        &-form {
            display: table;            
            &--input {
                float: left;
                font-size: 1.5rem;
                font-family: inherit;
                color: $color-primary;
                padding: 1.5rem 2rem;
                width: 32rem;
                background-color: rgba($color-white, 0.5);
                border: none;
                border: 2px solid $color-primary;

                &:focus {
                    outline: none;
                    
                    border-bottom: 2px solid $color-primary;
                }
                &:focus:invalid {
                    
                    border-bottom: 2px solid $color-black;
                }
                &::-webkit-input-placeholder {
                    color: $color-primary;
                }

            }
            &--button {
                float: left;              
                
                padding: 1.2rem;
                
                background: $color-white;
                border: 2px solid $color-primary;
                border-left: none;
                
                border-radius: 2px;
                color: $color-primary;
                font-size: 2rem;
                cursor: pointer;
                

            }
        }

    }
}