// 6/4/2019 -- Eric Tossell -- Utilities Sass file

.u-center-text {
    text-align: center;
}

.u-margin-top-small {margin-top: 1.5rem;}
.u-margin-top-medium {margin-top: 4rem;}
.u-margin-top-big {margin-top: 8rem;}

.u-margin-bottom-small {margin-top: 1.5rem;}
.u-margin-bottom-medium {margin-top: 4rem;}
.u-margin-bottom-big {margin-top: 8rem;}
