.livematch {
    background-color: $color-white;
    border-spacing: .5rem;
    border-collapse: separate;
    border: 2px solid $color-primary;
    width: 100%;
    
    
   
    
    &-thead{
        
        &-tr {            

            
            &__th {
                
                border-bottom: 2px solid $color-primary;
                
                color:$color-primary;
                
            }
        }
    }
    &-tbody{
        &-tr{

            &__td {               
                text-align: center;    
                
                &--img {
                    height: 35%;
                    margin-left: auto;
                    margin-right: auto;
                    

                }
                
                
            }
        }
    }


}
.smallcol {
    width: 5%;
}
.medcol {
    width: 15%;
}

.greenteam {
    border: 3px solid green;
}
.redteam {
    border: 3px solid red;
}