.section-livematch {
    
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary, 0.7)),
    url(../img/smitegods3.jpg);
    
    background-position: center;
    position: relative;
   
    
    padding-top: 20vh;
    
    
}

